:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --footer-hero-color: #2f303a;
  --primary-bg-color: #fff;
  --second-bg-color: #f5f4fa;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --border--hed--color: #ececec;
  --border--portfilio-color: #EEEEEE;
  --icon-color--: #AFB1B8;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border: 1px transparent;
}

.button.primary {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.secondary {
  padding: 6px 22px;
  min-height: 38px;
  background: var(--second-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.button-menu {
display: flex;
width: 1200 px;
}*/
.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .buttonf-topmarg {
    width: 200px;
    margin: auto;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .buttonf-topmarg {
    margin-top: 35px;
  }
}

.button-icon {
  margin-left: 10px;
}

header {
  border-bottom: 1px var(--border--hed--color) solid;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .site-nav__item + .site-nav__item {
    margin-left: 48px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .auth-nav .auth-nav__item + .auth-nav__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .auth-nav__item + .auth-nav__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon1 {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon1 {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon2 {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon2 {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--paragraph-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--paragraph-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    margin: 16px 0px 16px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    padding: 0;
    margin-right: 93px;
  }
}

.logo__studio {
  color: var(--primary-text-color);
}

.logo-studiof {
  color: var(--primary-bg-color);
}

.logo-studioff {
  margin-bottom: 20px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-color: var(--footer-hero-color);
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/heromobile1x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/heromobile1x-min.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/heromobile2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/heromobile2x-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/herotablet1x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/herotablet1x-min.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/herotablet2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/herotablet2x-min.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/Herodestop1x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/Herodestop1x-min.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges8/Hero/Herodestop2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges8/Hero/Herodestop2x-min.jpg");
  }
}

.container--hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container--hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container--hero {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container--hero {
    width: 1600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0, 6em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0, 6em;
    text-transform: uppercase;
  }
}

.section-benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits-list__item {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.benefits-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 120px) / 4);
  }
}

.benefits-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .benefits-list__box {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__box {
    max-width: 270px;
  }
}

.benefits-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__paragraph {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-partners {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-partners__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-partners__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-partners__list {
  margin: -15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color--);
  width: 100%;
  height: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-partners__link:hover, .section-partners__link:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-partners__company {
  width: calc((100% - 60px) / 2);
  height: 92px;
  padding: 0;
  margin: 15px;
  border: 1px solid var(--icon-color--);
  border-radius: 4px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .section-partners__company {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section-partners__company {
    width: calc((100% - 180px) / 6);
  }
}
.section-partners__company:hover, .section-partners__company:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-partners__icon {
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  text-align: center;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  max-height: 622px;
  margin: 15px;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__member {
    padding-bottom: 30px;
  }
}

.team__list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__list-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__list-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__network {
  width: 44px;
  height: 44px;
}
.team__network:nth-child(n+2) {
  margin-left: 10px;
}

.team__network-titel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-bg-color);
  color: var(--icon-color--);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__network-titel:hover, .team__network-titel:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  background-color: var(--footer-hero-color);
}

.footer__container {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .footer__container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .footer_contakt {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    margin-left: 0;
    margin-right: 70px;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__street {
  margin-bottom: 8px;
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .address__street {
    margin-bottom: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__contakts {
  color: var(--text-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__street:hover,
.address__street:focus,
.address__contakts:hover,
.address__contakts:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: auto;
    margin-right: 74px;
  }
}
.join__title {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__network:nth-child(n+2) {
  margin-left: 10px;
}

.join__network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: cbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__network-link:hover, .join__network-link:focus {
  background-color: var(--accent-color);
  cursor: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__network-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .subscription {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.subscription__paragraph {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .subscription__paragraph {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__paragraph {
    text-align: left;
  }
}

.subscription input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 450px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  color: var(--primary-bg-color);
  background-color: var(--footer-hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .subscription input {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .subscription input {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscription input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription input {
    margin-right: 12px;
    width: 358px;
  }
}

.form-footer input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__button-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio__button-list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__button-list {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__list-item {
  /* width: 100%;
   height: 100%;*/
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*&:nth-child(3n) {
  margin-right: 0;}
  &:nth-last-child(-n +3) {
  margin-bottom: 0;}*/
}
@media screen and (max-width: 767px) {
  .portfolio__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
.portfolio__list-item:hover, .portfolio__list-itemfocus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__foto {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  width: 100%;
  height: 100%;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__paragraph {
    width: 100%;
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__paragraph {
    width: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.portfolio__poster:hover .portfolio__paragraph {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__poster:focus .portfolio__paragraph {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__title {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__paragraphh {
  display: block;
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__item-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border--portfilio-color);
  border-bottom: 1px solid var(--border--portfilio-color);
  border-left: 1px solid var(--border--portfilio-color);
}

.bakdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bakdrop.is-hidden {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.bakdrop.is-hidden .modal {
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

.modal__close-black {
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__close-black {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__paragraph {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 12px;
}

textarea {
  resize: none;
  width: 100%;
}

.modal__form-list {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  outline: #eeeeee;
}

.modal__item {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.modal__item input {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: var(--accent-color);
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item textarea {
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  outline: var(--accent-color);
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.treaty {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item:hover .modal__icon,
.modal__item:hover input,
.modal__item:hover textarea,
.modal__item:focus .modal__icon,
.modal__item:focus input,
.modal__item:focus textarea {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-text-color);
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 8.5px;
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--primary-text-color);
  fill: var(--primary-bg-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.activity {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item + .activity__item {
  margin-left: 30px;
}

.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.activity__list-text {
  position: relative;
}

.activity__text-img {
  position: absolute;
  bottom: 4px;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: var(--primary-bg-color);
    overflow-y: scroll;
  }
}

.js-open-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin-right: 23px;
}
.menu-button .icon-cross {
  display: none;
}

.js-close-menu {
  position: absolute;
  top: 21px;
  right: 10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
}

.menu-container__title:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  color: #212121;
  text-decoration: none;
}

.menu-container__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.menu-container__tel:hover, .menu-container__tel:focus {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-container__mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.menu-container__mail:hover, .menu-container__mail:focus {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-container__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container__network--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.menu-container__network--link:last-child {
  border-right: 1px solid #fff;
  padding-right: 0px;
}
.menu-container__network--link:first-child {
  padding-left: 0px;
}

.site-nav__link--current {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */